/**
Existem 3 formas de aplicar estilo:
→ Diretamente na tag;
→ utilizando classes aplicadas nas tags;
→ utilizando ids aplicados nas tags. (#)
**/


header{
    height: 10%;
    width: 100%;
    background-color: #ffb90f;
    margin-top: 70px;
}

#navhd{
    color: white;
    display: inline-block;
}

#imagens img{
    width: 400px;
    position: relative;
}